.card{
    box-shadow: $box-shadow;
    width: 60%;
    margin: $base-font-size auto $base-font-size * 3;
    display: flex;
    align-items: center;
    height: 350px;
    max-height: fit-content;
    background-color: $primary-color;
    &_left{
        flex-basis: 50%;
        width: 100%;
        height: 100%;
        .imageCont{
            position: relative;
            transition: all 3s;
            height: inherit;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 5;
            }
            &::after{
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: red;
                transition: all 3s ease 2s;
                
            }
            &:hover{
                transform: rotateY(180deg);
                &::after{
                    transform: rotateY(-180deg);
                    // z-index: 6;
                    background-color: red;
                    // opacity: 1;
                }
                
            }
        }
    }
    &_right{
        flex-basis: 50%;
        height: 100%;
        padding: $base-font-size;
        // h1{
        //     color: $secondary-color;
        // }
        ul{
            line-height: $base-font-size * 2;
            li{
                display: flex;
                align-items: center;
                span{
                    color: $secondary-color;
                    font-size: $base-font-size *2;
                    margin-right: $base-font-size *0.5;
                }
            }
        }
    }
    button{
        @include buttonPrimary;
        width: 100%;
        display: block;
        padding: $base-font-size;
        margin-top: $base-font-size;
    }
}