@use "sass:math";
.navbar{
    z-index: 10;
    height: $base-font-size * 5;
    @include flexAlignCenter;
    justify-content: space-between;
    padding: $base-padding *5 $base-padding *4 ;
    box-shadow: $box-shadow;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    transition: all .4s;
    color: $primary-color;
    .logoImg{
        img{
            
            @include sm {
                width: $base-font-size * 13;
            }
            @include md {
                width: $base-font-size * 13;
            }
            @include lg {
                width: $base-font-size * 16;
            }
        }
    }
    ul{
        @include xs {
            display: none;
        }
        @include md {
            display: block;
        }
        
        li{
            list-style: none;
            display: inline-block;
            
            @include md {
                margin-right: math.div($base-font-size, 2);
            }
            @include lg {
                margin-right: $base-font-size * 1.25;
            }
            // color: $tertiary-color;
            @include sm {
                font-size: math.div($base-font-size, 1.2);
            }
            @include lg {
                font-size: $base-font-size;
            }
            a {
                position: relative;
                transition: all .5s;
                &::before{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 1px;
                    width: 100%;
                    background-color: white;
                    content: "";
                    transform: translateX(-100%);
                    opacity: 0;
                    
                }
                &:hover::before {
                    transform: translateX(0%);
                    opacity: 1
                }
                &:hover {
                    color: white
                    
                }
            }
        }
    }
    .buttons{
        @include flexAlignCenter;
        justify-content: space-between;
    }
}
.fixed{
    position: fixed !important;
    background-color: $secondary-color;
    padding: $base-padding !important;
    // top: 0 !important;
    // animation: fadein 1s ease forwards;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}