.swiper-container {
  margin-top: $base-font-size * 5;
}

.third_slider {
  width: 100%;
  margin: 0;
  padding: 50px;
  // background: linear-gradient(180deg, #572cd4, #211a64 49.62%);
  background-color: black;
  height: 90vh;
  overflow: hidden;
  // margin-top: $base-font-size * 3.4;
  .container {
    height: 100%;
    .inner__wrapper {
      align-items: center;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 2;
      margin-top: $base-font-size * 3.4;
      height: 100%;

      .content {
        padding: 50px 0 50px 50px;
        flex-basis: 50%;
        z-index: 10;
        color: #fff;
        max-width: $base-font-size * 60;
        height: 100%;
        text-align: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: left;    
        h1 {
          font-family: "Cormorant Upright", serif;
          font-weight: 700;
          flex-basis: 50%;
        }
        a {
          display: block;
          max-width: $base-font-size * 33;
        }
      }
      .img-container {
        flex-basis: 50%;
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        width: 50%;
        @include flexboxCenter;
        padding: 20px;
        img {
          height: 90%;
          width: 90%;
        }
      }
    }
  }
}