@include xs {
    .img-container{
        visibility: hidden
    }
    .inner__wrapper{
        grid-template-columns:  1fr;
        h1{
            font-size: $base-font-size * 3;
            line-height: $base-font-size * 3.7;
        }
        p{
            font-size: $base-font-size * 1.5;
            line-height: $base-font-size * 2;
            margin-bottom: $base-font-size * 2;
        }
    }
    .homePage{
        &-cont{
            &_body{
                .gridCont{
                    grid-template-columns: 1fr;
                    &--card{
                    }
                }
            }
        }
    }
}
@include sm {
    .homePage{
        &-cont{
            &_body{
                padding: 10px;
                .gridCont{
                    grid-template-columns: repeat(2, 1fr);
                    &--card{
                    }
                }
            }
        }
    }
}
@include md {
    .homePage{
        &-cont{
            &_body{
                padding: 50px;
                .gridCont{
                    grid-template-columns: repeat(2, 1fr);
                    &--card{
                    }
                }
            }
        }
    }

}
@include lg {
    .img-container{
        visibility: visible
    }
    .inner__wrapper{
        grid-template-columns: repeat(2, 1fr);
        h1{
            font-size: $base-font-size * 3.5;
            line-height: $base-font-size * 4.7;
        }
        p{
            font-size: $base-font-size * 2;
            line-height: $base-font-size * 2.5;
            margin-bottom: $base-font-size * 2.5;
        }
    }
    .homePage{
        &-cont{
            &_body{
                padding: 50px;
                .gridCont{
                    grid-template-columns: repeat(3, 1fr);
                    &--card{
                    }
                }
            }
        }
    }
}
@include xl {

}