@include xs {
    .img-container{
        visibility: hidden
    }
    .third-slider{
        height: 60vh;
        .inner__wrapper{
            h1{
                font-size: $base-font-size * 2;
                line-height: $base-font-size * 3;
                margin-bottom: 0;
            }
            p{
                margin-top: 0;
                font-size: $base-font-size ;
                line-height: $base-font-size * 2;
                margin-bottom: $base-font-size * 2;
            }
        }
    }
    .homePage{
        &-cont{
            h1{
                span{
                    font-size: $base-font-size * 2;
                }
            }
            &_body{
                .gridCont{
                    grid-template-columns: 1fr;
                   
                }
            }
        }
        
    }
}
@include sm {
    .homePage{
        &-cont{
            &_body{
                padding: 10px;
                .gridCont{
                    grid-template-columns: repeat(2, 1fr);
                   
                }
            }
        }
    }
}
@include md {
    .third-slider{
        height: 90vh;
    }
    .homePage{
        &-cont{
            &_body{
                padding: 50px;
                .gridCont{
                    grid-template-columns: repeat(2, 1fr);
                   
                }
            }
        }
    }
    .third-slider{
        .inner__wrapper{
            h1{
                font-size: $base-font-size * 2.5;
            }
            p{
                font-size: $base-font-size * 1.5;
            }
        }
    }

}
@include lg {
    .img-container{
        visibility: visible
    }
    .third_slider{
        .inner__wrapper{
            h1{
                font-size: $base-font-size * 3.5;
                line-height: $base-font-size * 4.7;
                margin-bottom: $base-font-size * 2.5;
            }
            p{
                font-size: $base-font-size * 2;
                line-height: $base-font-size * 2.5;
                margin-bottom: $base-font-size * 2.5;
            }
        }
    }
    .homePage{
        &-cont{
            &_body{
                padding: 50px;
                .gridCont{
                    grid-template-columns: repeat(3, 1fr);
                   
                }
            }
        }
    }
}
@include xl {

}