@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  overflow-x: hidden;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.navbar, .typing_text {
  z-index: 10;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.75rem 3rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  transition: all 0.4s;
  color: rgba(255, 255, 255, 0.9294117647);
}
@media (min-width: 480px) {
  .navbar .logoImg img, .typing_text .logoImg img {
    width: 13rem;
  }
}
@media (min-width: 760px) {
  .navbar .logoImg img, .typing_text .logoImg img {
    width: 13rem;
  }
}
@media (min-width: 960px) {
  .navbar .logoImg img, .typing_text .logoImg img {
    width: 16rem;
  }
}
@media (min-width: 0) {
  .navbar ul, .typing_text ul {
    display: none;
  }
}
@media (min-width: 760px) {
  .navbar ul, .typing_text ul {
    display: block;
  }
}
.navbar ul li, .typing_text ul li {
  list-style: none;
  display: inline-block;
}
@media (min-width: 760px) {
  .navbar ul li, .typing_text ul li {
    margin-right: 0.5rem;
  }
}
@media (min-width: 960px) {
  .navbar ul li, .typing_text ul li {
    margin-right: 1.25rem;
  }
}
@media (min-width: 480px) {
  .navbar ul li, .typing_text ul li {
    font-size: 0.8333333333rem;
  }
}
@media (min-width: 960px) {
  .navbar ul li, .typing_text ul li {
    font-size: 1rem;
  }
}
.navbar ul li a, .typing_text ul li a {
  position: relative;
  transition: all 0.5s;
}
.navbar ul li a::before, .typing_text ul li a::before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: white;
  content: "";
  transform: translateX(-100%);
  opacity: 0;
}
.navbar ul li a:hover::before, .typing_text ul li a:hover::before {
  transform: translateX(0%);
  opacity: 1;
}
.navbar ul li a:hover, .typing_text ul li a:hover {
  color: white;
}
.navbar .buttons, .typing_text .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fixed {
  position: fixed !important;
  background-color: #1e90ff;
  padding: 0.75rem !important;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.signUpBtn {
  padding: 0.525rem;
  background-color: #1e90ff;
  border-radius: 10px;
  font-size: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  cursor: pointer;
  border: none;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9294117647);
}

.enrollBtn {
  padding: 0.525rem;
  background-color: #1e90ff;
  border-radius: 10px;
  font-size: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  cursor: pointer;
  border: none;
  border: 1px solid #1e90ff;
  background-color: transparent;
  color: #1e90ff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.9294117647);
  border: 1px solid rgba(255, 255, 255, 0.9294117647);
}

.sgnBtnChange {
  color: #1e90ff !important;
  background-color: rgba(255, 255, 255, 0.9294117647) !important;
}

.typing_text {
  position: static;
  margin-top: 5rem;
  height: 5rem;
  font-family: "Fira Code", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0) {
  .typing_text {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  .typing_text {
    font-size: 1.9rem;
  }
}
.typing_text .updatedTexts span:nth-child(1) {
  color: rgba(255, 255, 255, 0.9294117647);
}
.typing_text .updatedTexts span:nth-child(2) {
  color: #1e90ff;
}

.swiper-container {
  margin-top: 5rem;
}

.third_slider {
  width: 100%;
  margin: 0;
  padding: 50px;
  background-color: black;
  height: 90vh;
  overflow: hidden;
}
.third_slider .container {
  height: 100%;
}
.third_slider .container .inner__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-top: 3.4rem;
  height: 100%;
}
.third_slider .container .inner__wrapper .content {
  padding: 50px 0 50px 50px;
  flex-basis: 50%;
  z-index: 10;
  color: #fff;
  max-width: 60rem;
  height: 100%;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}
.third_slider .container .inner__wrapper .content h1 {
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
  flex-basis: 50%;
}
.third_slider .container .inner__wrapper .content a {
  display: block;
  max-width: 33rem;
}
.third_slider .container .inner__wrapper .img-container {
  flex-basis: 50%;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.third_slider .container .inner__wrapper .img-container img {
  height: 90%;
  width: 90%;
}

.position {
  height: 5px;
  background-color: rgba(255, 255, 255, 0.9294117647);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 12;
}

.card {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 1rem auto 3rem;
  display: flex;
  align-items: center;
}
.card_left {
  flex-basis: 50%;
  height: 100%;
}
.card_left .imageCont {
  position: relative;
  transition: all 1s;
}
.card_left .imageCont img {
  width: 100%;
  height: 100%;
  display: block;
}
.card_left .imageCont::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s;
  opacity: 0;
}
.card_left .imageCont:hover {
  transform: rotateY(180deg);
}
.card_left .imageCont:hover::before {
  background-color: red;
  opacity: 1;
}
.card_right {
  flex-basis: 50%;
  height: 100%;
  padding: 1rem;
}
.card_right ul {
  line-height: 2rem;
}
.card_right ul li {
  display: flex;
  align-items: center;
}
.card_right ul li span {
  color: #1e90ff;
  font-size: 2rem;
  margin-right: 0.5rem;
}
.card button {
  padding: 0.525rem;
  background-color: #1e90ff;
  border-radius: 10px;
  font-size: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  cursor: pointer;
  border: none;
  border: 1px solid #1e90ff;
  background-color: transparent;
  color: #1e90ff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
  display: block;
  padding: 1rem;
  margin-top: 1rem;
}

.homePage-cont {
  background-color: rgba(255, 255, 255, 0.9294117647);
  text-align: center;
  color: rgba(255, 255, 255, 0.9294117647);
}
.homePage-cont h1 {
  font-family: "Cormorant Upright", serif;
  font-weight: 700;
}
.homePage-cont h1 span {
  color: #000000;
}
.homePage-cont_body {
  text-align: left;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  overflow-y: auto;
}
.homePage-cont_body .gridCont {
  height: 100%;
  display: grid;
  grid-gap: 10px;
}
.homePage-cont_body .gridCont--card {
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #1e90ff;
  height: 100%;
}
.homePage-cont_body .gridCont--card img {
  width: 30%;
  margin: 0 auto;
  display: block;
}
.homePage-cont_body .gridCont--card .enrollBtn_class {
  color: black;
  font-weight: 700;
}
.homePage-cont_body .gridCont--card .enrollBtn_class span {
  cursor: pointer;
}
.homePage .innerCont {
  height: 100vh;
  background-color: blue;
}

.user-icon {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_phone_large {
  height: 31.25rem;
}

.mini_nav_ul {
  /* background-color: rgba(255, 255, 255, .5); */
  padding: 0;
}

.how_it_works {
  padding: 50px 150px;
}

.how_it_works h1 {
  font-size: 60px;
  color: #0066ee;
  margin: 0px;
}

.how_it_works_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.how_it_works .col {
  height: 400px;
  width: 100%;
}

.col {
  opacity: 0;
  transform: translateX(50px);
  transition: all 1s ease;
  transition-delay: 0.2s;
}

.animate {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transform: rotate(0) !important;
}

.col_left {
  transition-delay: 0s !important;
  opacity: 0;
  transform: translateX(-50px);
}

.col_text {
  color: #000000;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}

.col_text_odd::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  height: 20px;
  width: 20px;
  background-color: dodgerblue;
  border-radius: 50%;
}

.col_text_odd::after {
  content: "";
  position: absolute;
  left: -12px;
  bottom: 0;
  height: 20px;
  width: 20px;
  background-color: dodgerblue;
  border-radius: 50%;
}

.col_text h2 {
  font-size: 45px;
}

.col img {
  height: 50%;
  display: block;
  margin: auto;
}

.col_image {
  height: 100%;
}

.col_text_odd {
  align-items: end;
  text-align: right;
  border-left: 5px solid dodgerblue;
  padding-left: 10px;
  border-right: none;
}

footer {
  height: 50vh;
  background-color: #151724;
  padding: 50px 150px;
  color: white;
}

.ft_container {
  display: flex;
  justify-content: space-between;
}

.ft_left {
  line-height: 50px;
  flex-basis: 30%;
}

.ft_right {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}

.ft_right ul {
  list-style: none;
}

.btn_ft {
  width: 80%;
}

.product_pricing--cont {
  margin-top: 5rem;
}
.product_pricing--cont .product_header {
  background-color: #1e90ff;
  height: 70vh;
  padding-left: 100px;
  display: flex;
  align-items: center;
}
.product_pricing--cont .product_header .product_intro-desc {
  width: 60%;
  color: rgba(255, 255, 255, 0.9294117647);
}
.product_pricing--cont .product_header .product_intro-desc h1 {
  margin-bottom: 2rem;
}
.product_pricing--cont .product_header .product_intro-desc p {
  line-height: 1.5rem;
}
.product_pricing--cont .product_header .product_intro-desc div {
  margin-top: 2rem;
}
.product_pricing--cont .product_body {
  justify-content: left;
  flex-direction: column;
  padding: 4rem 100px;
}
.product_pricing--cont .product_body .section {
  width: 60%;
  border: 1px solid #1e90ff;
  padding: 1rem;
}
.product_pricing--cont .product_body-section1 {
  margin-bottom: 4rem;
}
.product_pricing--cont .product_overview {
  transition: all 0.5s;
  position: absolute;
  right: 8rem;
  top: 7rem;
  width: 25%;
  height: 70vh;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 1rem;
}
.product_pricing--cont .product_overview img {
  display: block;
  width: 100%;
  height: 7.2rem;
}
.product_pricing--cont .product_overview ul {
  list-style-type: circle;
  padding-left: 20px;
}
.product_pricing--cont .product_overview .applyBtn {
  display: block;
  width: 100%;
  padding: 10px;
  padding: 0.525rem;
  background-color: #1e90ff;
  border-radius: 10px;
  font-size: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  cursor: pointer;
  border: none;
  border: 1px solid #1e90ff;
  background-color: transparent;
  color: #1e90ff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0;
  margin: 1rem 0;
}

.overviewAnimationContf {
  animation: overview_transition 0.1s ease-out forwards;
}

@keyframes overview_transition {
  0% {
    opacity: 0;
  }
  100% {
    position: fixed;
    opacity: 1;
    top: 4rem;
  }
}
.courses {
  padding-top: 5rem;
}

@media (min-width: 0) {
  .img-container {
    visibility: hidden;
  }
  .third-slider {
    height: 60vh;
  }
  .third-slider .inner__wrapper h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 0;
  }
  .third-slider .inner__wrapper p {
    margin-top: 0;
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .homePage-cont h1 span {
    font-size: 2rem;
  }
  .homePage-cont_body .gridCont {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 480px) {
  .homePage-cont_body {
    padding: 10px;
  }
  .homePage-cont_body .gridCont {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 760px) {
  .third-slider {
    height: 90vh;
  }
  .homePage-cont_body {
    padding: 50px;
  }
  .homePage-cont_body .gridCont {
    grid-template-columns: repeat(2, 1fr);
  }
  .third-slider .inner__wrapper h1 {
    font-size: 2.5rem;
  }
  .third-slider .inner__wrapper p {
    font-size: 1.5rem;
  }
}
@media (min-width: 960px) {
  .img-container {
    visibility: visible;
  }
  .third_slider .inner__wrapper h1 {
    font-size: 3.5rem;
    line-height: 4.7rem;
    margin-bottom: 2.5rem;
  }
  .third_slider .inner__wrapper p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .homePage-cont_body {
    padding: 50px;
  }
  .homePage-cont_body .gridCont {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=index.css.map */