.homePage{

    &-cont{
        text-align: center;
        padding-top: 50px ;
        h1{
            font-family: "Cormorant Upright", serif;
            font-weight: 700;
            span{
                font-size: $base-font-size * 3;
            }
        }
        &_body {
            height: 150vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px;
            .gridCont{
                height: 100%;
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                &--card {
                    box-shadow: $box-shadow;
                    padding: 10px;
                    img{
                        width: 30%;
                        
                    }
                }
            }
        }
    }
}