.product_pricing {
  &--cont {
    margin-top: $base-font-size * 5;
    .product_header {
      background-color: $secondary-color;
      height: 70vh;
      padding-left: 100px;
      @include flexAlignCenter;
      .product_intro-desc {
        width: 60%;
        color: $primary-color;
        h1 {
          margin-bottom: $base-font-size * 2;
        }
        p {
          line-height: $base-font-size * 1.5;
        }
        div {
          margin-top: $base-font-size * 2;
        }
      }
    }
    .product_body {
      // @include productSection;
      justify-content: left;
      flex-direction: column;
      padding: $base-font-size * 4 100px;
      .section {
        width: 60%;
        border: 1px solid $secondary-color;
        padding: $base-font-size;
      }
      &-section1 {
        margin-bottom: $base-font-size * 4;
      }
      &-section2 {
      }
    }
    .product_overview {
      transition: all .5s;
      position: absolute;
      right: $base-font-size * 8;
      top: $base-font-size * 7;
      width: 25%;
      height: 70vh;
      box-shadow: $box-shadow;
      background-color: white;
      padding: $base-font-size;
      img {
        display: block;
        width: 100%;
        height: $base-font-size * 7.2;
      }
      ul {
        list-style-type: circle;
        padding-left: 20px;
      }
      .applyBtn {
        display: block;
        width: 100%;
        padding: 10px;
        @include buttonPrimary;
        border-radius: 0;
        margin: $base-font-size 0;
      }
    }
  }
}
.overviewAnimationContf {
  animation: overview_transition .1s ease-out forwards;
}
@keyframes overview_transition {
  0% {
    opacity: 0;
   
  }
  100% {
    position: fixed;
    opacity: 1;
    top: $base-font-size * 4;
  }
}